body {
    width: 100%;
    margin: 0 auto;
}

.black {
    color: black;
}

.designs__container {
    position: relative;
    transition: all 2000ms ease-in-out;
}

.lamp {
    position: absolute;
    width: 20rem;
    top: -120%;
    left: 50%;
    opacity: 0.7;
}

.lamp.lampOn {
    position: absolute;
    width: 20rem;
    top: -120%;
    left: 36% !important;
    opacity: 0.7;
}
.lamp.lampOff {
    left: 29% !important;
}
/* .designs__link {
    transition: all 1s ease-in-out;
    
} */
