#root {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
  /* font-family: 'Playfair Display SC', serif; */
  /* font-weight: 500; */
  /* font-style: normal; */
  /* text-transform: lowercase; */

    & h1 {
      font-family: 'Playfair Display SC', serif;
      font-weight: 700;
      font-style: normal;
      color: rgb(4, 158, 4);
    }
    & h2 {
          
      color: rgb(4, 211, 4);
    }

    & p {
      color: #000000;
      text-transform: lowercase;
      color: rgb(33, 33, 33);
    }

    & .black {
      color: black;
    }

    & .white {
      color: white;
    }
    
}

.playfair-display-sc-regular {
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-sc-bold {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-sc-black {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-sc-regular-italic {
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display-sc-bold-italic {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display-sc-black-italic {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-style: italic;
}